/*Global variables for typography*/

/*Added a transition to the hover of sponsor images as well as made the glowing border clearer
compared to the last submission*/
/* Typography */
:root {
    --ff: "Inter", sans-serif;
    --h1: bold 18px/1em var(--ff);
    --h2: bold 1rem/1.4em var(--ff);
    --p: 1rem/1.6em var(--ff);
    --background: hsl(0,0%,10%);
}
body, html {
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif;
    background-color: var(--background);
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

figure img {
    display: block;
    margin: 0 auto;
}

figure figcaption {
    text-align: center;
    margin-top: 10px;
}

/*Nav bar*/
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: #333333;
    z-index: 1000; /* Ensures the navbar stays on top */
}

nav ul {
    position: sticky;
    position: -webkit-sticky;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #555555;
}

nav ul li {
    border-right: 1px gray solid;
    display: inline;
}
nav ul li:last-child {
    border-right: none;
}

nav ul li a {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 14px 16px;
  color: #bbb;
  text-decoration: none;
}

nav li a:hover {
    color: #fff; /* Changes background on hover */
}
/* Hero page*/
.heroPage {
    position: relative;
    background-color: hsl(0,0%,0%);
    color:hsl(0,0%,100%);
    width: 100%;
    height: 300px;
    min-height: 200px;
    height: 600px;
}
#heroMesh {
    position: relative;
    z-index: 0;
    
}
#heroMesh {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:0;
    height: 100%;
    padding: none;
}


#svg {
  background: #afa;
  display:block;
  width:100%;
  height:100%;
}
.overlay {
    position: absolute;
    background: hsl(0,0%,0%);
    opacity: 0.8;
    width: 20vw;
    height: 100%;
    z-index: 1;
    left: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.element {
  background: var(--background);
  position: absolute;
  opacity: 1;
}

.rectangle {
  width:100px;
  height:40px;
}

#r1 {
  left:50vw;
  top:50vh;
  z-index: 2;
}

#r2 {
  left:500px;
  top:80px;
}


/*Fancy thing for showing a bar when hovering*/
nav ul li a:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0px;
    left: 10%;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
  
  }
  
  nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  div#top_nav a:hover:before , div#top_nav a.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
/*Content*/
.content {
    margin: 40px auto;
    padding: 15px;
    width: 60%;
    line-height: 1.6;
    font-size: 18px;

    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
}
.content a {
    color: #ccc;
}
.content a:hover {
    color: #fff;
}
.content table {
    width: 100%;
   text-align: left;
    padding: 20px;
}
.content table a img {
    height: 50px;
}
.content table .table .bio img {
    height: auto !important;
}
.content table .photo a img{
    height: 150px !important;
}
h3 {
    font-size: 22px;
}
/*Circle*/
.circle {
    width: 250px;
    height: 250px;
    border: 10px solid white;
    border-radius: 50%;
    margin: 5px;
    transition: all 0.3s ease; /* Smooth transition */
    object-fit: cover;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

} 
.circle b {
    color: white;
    font-size: 36px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.circle img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.circle:hover {
    transform: scale(1.3);
    box-shadow: 0 0 15px 5px rgba(169, 167, 167,1); /*Glowing shadow*/
}

/*Prediction*/
.prediction {
    width: 100%;
    background-color: #333333;
    color: #eee;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}


.img-row {/*Seperate container for the images*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the circles horizontally */
    align-items: center; /* Centers the circles horizontally */
}

b {
    font-size: 18px;
}

/*Class of grid-like rows to list hyperlinks + other content without looking jarring*/
.grid_row {
    text-align: left;
}
.grid_row table {
    width: 100%;
    background-color: #111 !important;
    font-size: 18px;
    color: #ddd;
    padding: 0px !important;
}
.grid_row table tr td {
    border-bottom: 1px solid #555555;
    padding: 10px 0px;
}
.grid_row table tr {
    border-bottom: none;
}
.grid_row table b {
    color: #fff;
    font-size: 12px;
}


/*Footer*/
.footer {
    bottom: 0;
    left:0;
    width: 100%;
    background-color: #555555;
    color: #aaaaaa;
    
}
.footer table {
    width: 100%;
    text-align: center;
}
.footer table a{
    color: #dddddd;
    text-decoration: none;
}
.footer table a:hover{
    text-decoration: underline;
}

/* Tree Canvas */
.treeCanvasContainer {
    align-items: center;
    display: flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    justify-content: space-around; /* Distributes items evenly with space around them */
    border: 2px solid red;
}
.treeCanvas {
    border: 1px lightgray solid;
    /*margin: 10px;*/
    width: 100%;
    margin: 10px;
}

.rsquare {
    width: 100%;
    background-color: hsl(0,0%,90%);
    color: hsl(0,0%,10%);
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 350px;
    border: #ddd solid 2px;
    margin: 10px;
    & a {
        color: hsl(0,0%,10%);
        &:hover {
            color: hsl(200, 100%, 50%);
        }
    }
}
.flex-display {
    display: flex;
    justify-content: center;
}
/* Devlog */
.entry {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 20px;
}
.entry:first-child {
    border-top: none;
}
.entry:last-child {
    border-bottom: none;
}
/* Mode change Button*/
.dm_ip_check {
    width: 200px;
    position: relative;
    display: inline-block;
    padding: 15px 100px;
}
.dm_ip_check input {
	display: none;
    align-items: center;
}
.dm_ip_check label {
	position: relative;
	display: block;
	padding: 15px 0;
	padding-right: 35px;
	cursor: pointer;
    font-size: 1rem;
}
.dm_ip_check input[type='checkbox'] {
	position: absolute;
	visibility: hidden !important;
}
.dm_ip_check input[type='checkbox'] + label:before,
.dm_ip_check input[type='checkbox'] + label:after {
	position: absolute;
	top: 50%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-top: -7.5px;
	content: '';
}
.dm_ip_check input[type='checkbox'] + label:before {
	
    right: 0;
	width: 60px;
	height: 30px;
	border: 1px solid #e4e3e1;
	border-radius: 30px;
	background: #ffffff;
}
.dm_ip_check input[type='checkbox']:checked + label:before {
    background-color: #bbb;
}
/* Circle within the mode*/
.dm_ip_check input[type='checkbox'] + label:after {
	right: 29px;
	width: 30px;
	height: 30px;
	-webkit-transition: all 200ms ease-out;
	        transition: all 200ms ease-out;
	border-radius: 50%;
	background: #bdbdbd;
}
.dm_ip_check input[type='checkbox']:checked + label:after {
	right: 0;
	background: #545454;
    background-size: contain;
  background-repeat: no-repeat;
  font-family:"Font Awesome 5 Free";
  padding: 6px 0 0 8px;
}

/*Table of Content popup*/
.TOC {
    border-right: 1px solid hsl(0,0%,30%);
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 3vw;
    bottom: 0;
    width: 300px;
    max-width: calc(100vw - 60px);
    font-family: Poppins,sans-serif;
    background: var(--background);
    box-shadow: 0 0 5px rgba(0,0,0,.125);
    z-index: 2;

    list-style-type: none;

}
#toc_but {
    border: none;
    position: fixed;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--background);
    color: hsl(0,0%,90%);
    z-index: 3;
    align-items: center;
}
#toc_but:hover {
    background-color: hsl(0,0%,50%);
}
.TOC_heading {
    height: 40px;
    z-index: 2;
    padding: 10px;
}
.TOC_list {
    border: 2px solid white;
}
.TOC_list ul{
    border: 2px solid gray;
    list-style-type: none;
}